<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Sports</string>
		<key>icons</key>
		<array>
			<string>Football</string>
			<string>Basketball</string>
			<string>Soccer</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Entertainment</string>
		<key>icons</key>
		<array>
			<string>Movies</string>
			<string>TV</string>
			<string>Music</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>History</string>
		<key>icons</key>
		<array>
			<string>US-History</string>
			<string>World-History</string>
			<string>US-Government</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Science</string>
		<key>icons</key>
		<array>
			<string>Anatomy</string>
			<string>Animals</string>
			<string>Earth-Science</string>
		</array>
	</dict>
</array>
</plist>
